alpha_vantage==2.3.1
authlib>=1.0
boto3==1.12.17
botocore==1.15.17
bs4==0.0.1
dnspython==1.16.0
Flask==2.1.2
gunicorn==20.0.4
lxml==4.6.1
markupsafe==2.0.1
millify==0.1.1
numpy==1.19.4
pandas==1.1.4
pprintpp==0.4.0
pymongo==3.10.1
python-dotenv>=0.19.2
pyyaml==6.0
requests>=2.27.1
