<html>
    <head>
        <title> {{stock}} Not found</title>
    </head>
    <body>

      <table>
              <tr>
                      <td>
                        <img src="/images/dollar.png" style="height:80%">
                      </td>

              </tr>


              <tr>
                      <td>

                      <font size=3 face ="Comic Sans MS">
                        Stock {{stock}} not found.
                      </font>

                      </td>
              </tr>



              <tr>
                      <td>

                      <form>
                          <input type="button" value="Try Again" onclick="history.back()">
                      </form>


                      </td>
              </tr>

      </table>



    </body>
</html>
