<html>

    <head>

        <!------------------------------------------------------------>
        {% block title %}
            <title> Financial data for  {{g.stock}}</title>
        {% endblock %}
        <!------------------------------------------------------------>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>

<body>


<!------------------------------------------------------------>
{% block welcome_table %}
<!------------------------------------------------------------>
<table border=0>

     <tr>

        {% if session['picture_text'] %}
            <td> {{ session['picture_text'] }} </td>
            <td><font size=4 face="Comic Sans MS">Hi {{ session['email_text'] }}! || </font> </td>
            <td><font size=4 face="Comic Sans MS"><a href="/login_oauth">  Login  ||</a></td>
        {% else %}
            <td><img src="{{ session['picture'] }}" style="border-radius:50%" width="35%" height="50%"></td>
            <td><font size=4 face="Comic Sans MS">Hi {{ session['email'] }}! || </font></td>
            <td><font size=4 face="Comic Sans MS"><a href="/logout"> &nbsp;Logout&nbsp;||</a></td>
        {% endif %}

            <td><font size=4 face="Comic Sans MS">Enter a Stock to See it's history</font> </td>

     </tr>

</table>

<!-- {{ session }} -->

<!------------------------------------------------------------>
{% endblock %}
<!------------------------------------------------------------>


<!------------------------------------------------------------>
{% block valid_stock_data %}
<!------------------------------------------------------------>
<table class="comicGreen" style='table-layout:fixed;' border=1>

  <tr>
    <td>
        {{g.stock}}
    </td>

    <td>
      Market Cap: {{ stock_data['Market_Cap'] }} {{ stock_data['Market_Cap_Denom'] }}
    </td>

    <td>
        Rev TTM: {{ stock_data['RevTTM'] }}
    </td>

    <td>
      Net INC TTM
    </td>

    <td>
        ROIC
    </td>

  </tr>



  <tr>


    <td>
	     BookValue : {{ stock_data['BookValue'] }} </td>
    </td>

    <td>
             PriceToBookRatio :  {{ stock_data['PriceToBookRatio'] }}
    </td>

    <td>
	    PriceToSalesTTM :  {{ stock_data['PriceToSalesTTM'] }}
    </td>

    <td>
	    TrailingPE: {{ stock_data['TrailingPE'] }}
    </td>

    <td>
      Currency : {{ stock_data['Currency'] }}
    </td>

  </tr>



  <tr>
        <td>
        Revenue  and Net Income
       </td>
  </tr>

{% for key,val in stock_data['Years'].items() %}

    <tr>

     <td> {{val['Date']}} </td>   
     <td> Revenue:    {{ val['Revenue']       }} {{ val['RevDenom'] }}  </td>   
     <td> RevGrowth:  {{ val['RevenueGrowth'] }} % </td>
     <td> NetIncome:  {{ val['NetIncome']     }} {{ val['NetIncDenom'] }}  </td>   
     <td> NetIGrowth: {{ val['NetIncGrowth']  }} % </td>

   </tr>

{% endfor %}


</table>
<!------------------------------------------------------------>
{% endblock %}
<!------------------------------------------------------------>


<!------------------------------------------------------------>
{% block  dollar_banner %}
<!------------------------------------------------------------>
<table width="%100">

  <tr>

  <td colspan="100%">
    <img style="display:block;" width="125%" height="100%" src="../images/dollar.png">
  </td>

  </tr>

</table>
<!------------------------------------------------------------>
{% endblock %}
<!------------------------------------------------------------>

{% block content %}
<!-- Content -->
{% endblock %}


<!------------------------------------------------------------>
{% block  back_button %}
<!------------------------------------------------------------>

    <button onclick="goBack()">Back</button>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <P>

<!------------------------------------------------------------>
{% endblock %}
<!------------------------------------------------------------>



<!------------------------------------------------------------>
{% block footer %}
<!------------------------------------------------------------>
<small>

Data provided on this site is for education purposes only.
No offer or guarantee of any financial outcome is being made of any kind.
By using this site you agree to using the data as-is with no warranty of any kind.
<P>
Crawled: {{ stock_data['DateCrawled'].strftime("%d-%b-%Y-%H:%M:%S" + ' utc') }}

</small>

</body>
</html>
<!------------------------------------------------------------>
{% endblock %}
<!------------------------------------------------------------>
