<html>

    <head>
        <title> Financial data for  {{stock}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

<body>

<table class="comicGreen" style='table-layout:fixed;' border=1>

  <tr>
    <td>
        {{stock}}
    </td>

    <td>
      Market Cap: {{ stock_data['Market_Cap'] }} {{ stock_data['Market_Cap_Denom'] }}
    </td>

    <td>
        Rev TTM: {{ stock_data['RevTTM'] }}
    </td>

    <td>
      Net INC TTM
    </td>

    <td>
        ROIC
    </td>

  </tr>



  <tr>


    <td>
	     BookValue : {{ stock_data['BookValue'] }} </td>
    </td>

    <td>
             PriceToBookRatio :  {{ stock_data['PriceToBookRatio'] }}
    </td>

    <td>
	    PriceToSalesTTM :  {{ stock_data['PriceToSalesTTM'] }}
    </td>

    <td>
	    TrailingPE: {{ stock_data['TrailingPE'] }}
    </td>

    <td>
      Currency : {{ stock_data['Currency'] }}
    </td>

  </tr>



  <tr>
        <td>
        Revenue  and Net Income
       </td>
  </tr>

{% for key,val in stock_data['Years'].items() %}

    <tr>

     <td> {{key}} </td>   
     <td> Revenue:    {{ val['Revenue']       }} {{ val['RevDenom'] }}  </td>   
     <td> RevGrowth:  {{ val['RevenueGrowth'] }} % </td>
     <td> NetIncome:  {{ val['NetIncome']     }} {{ val['NetIncDenom'] }}  </td>   
     <td> NetIGrowth: {{ val['NetIncGrowth']  }} % </td>

   </tr>

{% endfor %}


</table>



<table width="%100">

  <tr>

  <td colspan="100%">
    <img style="display:block;" width="125%" height="100%" src="../images/dollar.png">
  </td>

  </tr>

</table>


<button onclick="goBack()">Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>


<small>
Data provided on this site is for education purposes only.
No offer or guarantee of any financial outcome is being made of any kind.
By using this site you agree to using the data as-is with no warranty of any kind.
</small>

</body>
</html>
