<html>
   <head>
    <center>

<title> 
{% block title %}
 Stock Data
{% endblock %}
</title>

    </center>
    </head>

<body>

{% block profile_table %}

<table border=0> 
    <tr>
    <td><img src="{{ session['oidc_id_token']['picture']  }} " style="border-radius:50%" width="50%" height="50%"></td>
    <td><font size=4 face="Comic Sans MS">Hi {{ session['oidc_id_token']['email'] }} || </font>                   </td>
    <td><font size=4 face="Comic Sans MS">Enter a Stock to See it's history || </font>                            </td>
    <td><font size=4 face="Comic Sans MS"><a href="/logout">  Logout </a>
    </tr>
</table>


{% endblock %}


<table border=0>
<tr>
<td><img src=/images/dollar.png style="height:80%;"> </td></td>
<td>

</td>
</tr>
</table>


{% block form %}

<form action="/search/" method="get">

<br>
Stock:
<input type="text" name="stock">

<P>
<input type="submit" value="Submit">

<br>
</form>

{% endblock %}

</body>
</html>

