{% extends "stock_data.html" %}

{% block title %}
    <title> Welcome to justgrowthrates.com </title>
{% endblock %}

{% block valid_stock_data %}
<!--No data -->
{% endblock %}


{% block content %}

    <form action="/search" method="get">

    <br>
    Stock:
    <input type="text" name="stock">

    <P>
    <input type="submit" value="Submit">

    <br>
    </form>

{% endblock %}

{% block  back_button %}
    <!-- No -->
{% endblock %}


{% block footer %}
    <!-- No Crawled -->
{% endblock %}
